<h1>Editing lancamento</h1>

<% form_for(@lancamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'RA' %><br />
    <%= text_field :aluno, :ra, :onchange => remote_function(:url => { :action => :find_by_ra },  :with => "'ra='+value") %>
    <%= f.hidden_field :aluno_id %><%= text_field :aluno, :nome, :disabled => true %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data, :order => [:month, :year] %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @lancamento %> |
<%= link_to 'Back', lancamentos_path %>
