<h1>New lancamento</h1>

<% form_for(@lancamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :aluno %><br />
    <%= f.text_field :aluno_id %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data, :order => [:month, :year] %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', lancamentos_path %>
