<p>
  <b>Valor:</b>
  <%=h @mensalidade.valor %>
</p>

<p>
  <b>Data vigor:</b>
  <%=h @mensalidade.data_vigor.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Periodo:</b>
  <%=h @mensalidade.periodo.periodo %>
</p>


<%= link_to 'Edit', edit_mensalidade_path(@mensalidade) %> |
<%= link_to 'Back', mensalidades_path %>
