<table border="0" cellpadding="2" cellspacing="2" width="700" align="center">
  <tr>
    <td align="right">
        <%= link_to 'Alterar', edit_aluno_path(@aluno) %> | <%= link_to 'Voltar', alunos_path %>
    </td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="2" width="700" align="center" class="form_table">
  <tr>
    <td colspan="2">
     <span class="tit_form">Dados do Aluno</span>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      Nome:<br />
      <%= @aluno.nome %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      RG:<br />
      <%= @aluno.rg %>
    </td>
  </tr>
  <tr>
    <td>
     Data Nascimento:<br />
     <%= @aluno.data_nascimento.strftime("%d/%m/%Y") %>
    </td>
    <td>
      Sexo:<br />
      <%= @aluno.sexo %>
    </td>
  </tr>
  <tr>
    <td>
      Endereço:<br />
      <%= @aluno.endereco %>
    </td>
    <td>
      Número:<br />
      <%= @aluno.numero %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      Complemento:<br />
      <%= @aluno.complemento %>
    </td>
  </tr>
  <tr>
    <td>
      Bairro:<br />
      <%= @aluno.bairro %>
    </td>
    <td>
      CEP:<br />
      <%= @aluno.cep %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      Telefone:<br />
      <%= @aluno.telefone %>
    </td>
  </tr>
</table>
<br/>
<table border="0" cellpadding="2" cellspacing="2" width="700" align="center" class="form_table">
  <tr>
    <td>
     <span class="tit_form">Dados do Pai</span>
        <table border="0" width="100%">
          <tr>
            <td colspan="2">
              Nome: <br />
              <%= @aluno.nome_pai %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Data Nascimento:<br />
               <%= @aluno.data_nascimento_pai.strftime("%d/%m/%Y") %>
            </td>
          </tr>
          <tr>
            <td>
              CIC:<br />
              <%= @aluno.cic_pai %>
            </td>
            <td>
              RG:<br />
              <%= @aluno.rg_pai %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Local Trabalho:<br />
              <%= @aluno.local_trabalho_pai %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Telefone:<br />
              <%= @aluno.telefone_trabalho_pai %>
            </td>
          </tr>
        </table>
    </td>
    <td>
        <span class="tit_form">Dados da Mãe</span>
        <table border="0" width="100%">
          <tr>
            <td colspan="2">
              Nome:<br />
              <%= @aluno.nome_mae %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Data Nascimento:<br />
               <%= @aluno.data_nascimento_mae.strftime("%d/%m/%Y") %>
            </td>
          </tr>
          <tr>
            <td>
              CIC:<br />
              <%= @aluno.cic_mae %>
            </td>
            <td>
              RG:<br />
               <%= @aluno.rg_mae %>
            </td>
          </tr>
         <tr>
            <td colspan="2">
              Local Trabalho:<br />
              <%= @aluno.local_trabalho_mae %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Telefone:<br />
              <%= @aluno.telefone_trabalho_mae %>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<br/>
<table border="0" cellpadding="2" cellspacing="2" width="700" align="center" class="form_table">
  <tr>
    <td colspan="2">
     <span class="tit_form">Dados de Médico</span>
    </td>
  </tr>
  <tr>
    <td>
      Pediatra:<br />
      <%= @aluno.nome_pediatra %>
    </td>
    <td>
      Telefone:<br />
      <%= @aluno.telefone_pediatra %>
    </td>
  </tr>
  <tr>
    <td>
      Alergias:<br />
      <%= @aluno.alergias %>
    </td>
    <td>
      Tratamento médico:<br />
      <%= @aluno.tratamento_medico %>
    </td>
  </tr>
</table>
<br/>
<table border="0" cellpadding="2" cellspacing="2" width="700" align="center" class="form_table">
  <tr>
    <td colspan="2">
     <span class="tit_form">Dados Complementares</span>
    </td>
  </tr>
  <tr>
    <td>
      Pessoas Autorizadas:<br />
      <%= @aluno.pessoas_autorizadas %>
    </td>
    <td>
      Observação:<br />
      <%= @aluno.observacao %>
    </td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="2" width="700" align="center">
  <tr>
    <td align="right">
        <%= link_to 'Alterar', edit_aluno_path(@aluno) %> | <%= link_to 'Voltar', alunos_path %>
    </td>
  </tr>
</table>
