<p>
  <b>Nivel:</b>
  <%=h @aluno.nivel %>
</p>

<p>
  <b>Periodo:</b>
  <%=h @aluno.periodo %>
</p>

<p>
  <b>Alimentacao:</b>
  <%=h @aluno.alimentacao %>
</p>

<p>
  <b>Ra:</b>
  <%=h @aluno.ra %>
</p>

<p>
  <b>Nome:</b>
  <%=h @aluno.nome %>
</p>

<p>
  <b>Data nascimento:</b>
  <%=h @aluno.data_nascimento %>
</p>

<p>
  <b>Rg:</b>
  <%=h @aluno.rg %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @aluno.sexo %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @aluno.endereco %>
</p>

<p>
  <b>Numero:</b>
  <%=h @aluno.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @aluno.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @aluno.bairro %>
</p>

<p>
  <b>Cep:</b>
  <%=h @aluno.cep %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @aluno.telefone %>
</p>

<p>
  <b>Nome pai:</b>
  <%=h @aluno.nome_pai %>
</p>

<p>
  <b>Data nascimento pai:</b>
  <%=h @aluno.data_nascimento_pai %>
</p>

<p>
  <b>Cic pai:</b>
  <%=h @aluno.cic_pai %>
</p>

<p>
  <b>Rg pai:</b>
  <%=h @aluno.rg_pai %>
</p>

<p>
  <b>Local trabalho pai:</b>
  <%=h @aluno.local_trabalho_pai %>
</p>

<p>
  <b>Telefone trabalho pai:</b>
  <%=h @aluno.telefone_trabalho_pai %>
</p>

<p>
  <b>Nome mae:</b>
  <%=h @aluno.nome_mae %>
</p>

<p>
  <b>Data nascimento mae:</b>
  <%=h @aluno.data_nascimento_mae %>
</p>

<p>
  <b>Cic mae:</b>
  <%=h @aluno.cic_mae %>
</p>

<p>
  <b>Rg mae:</b>
  <%=h @aluno.rg_mae %>
</p>

<p>
  <b>Local trabalho mae:</b>
  <%=h @aluno.local_trabalho_mae %>
</p>

<p>
  <b>Telefone trabalho mae:</b>
  <%=h @aluno.telefone_trabalho_mae %>
</p>

<p>
  <b>Nome pediatra:</b>
  <%=h @aluno.nome_pediatra %>
</p>

<p>
  <b>Telefone pediatra:</b>
  <%=h @aluno.telefone_pediatra %>
</p>

<p>
  <b>Alergias:</b>
  <%=h @aluno.alergias %>
</p>

<p>
  <b>Tratamento medico:</b>
  <%=h @aluno.tratamento_medico %>
</p>

<p>
  <b>Pessoas autorizadas:</b>
  <%=h @aluno.pessoas_autorizadas %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @aluno.observacao %>
</p>


<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
