<h1>Gerar Extrato</h1>

<% form_tag "extrato/extrato", :method => "get", :target => '_blank' do %>

<table border="0" cellpadding="2" cellspacing="2" width="700" align="center">
  <tr>
    <td>
      <%= label 'Extrato', 'Vencimento' %>
      <%= date_select(:data_vencimento, nil, :order => [:day, :month, :year], :default => @data_vencimento) %>
    </td>
    <td>
      <%= label 'Extrato', 'Nivel' %>
      <%= select 'extrato', :nivel, Aluno::NIVEL, :prompt => 'Todos' %>
    </td>
    <td>
      <%= submit_tag 'Gerar Extrato', :name => nil %>
    </td>
  </tr>
</table>

<br />

<% end %>
