<h1>New alimentacao_valor</h1>

<% form_for(@alimentacao_valor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :alimentacao %><br />
    <% @alimentacoes.each do |t| %>
      <%= f.radio_button :alimentacao_id, t.id, :checked => t.id == 1 ? true : false %> <%= t.alimentacao %>
    <% end %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :data_vigor %><br />
    <%= f.date_select :data_vigor, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', alimentacao_valores_path %>
