<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Alunos: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

    <div id="header">
      <div id="header_menu">
        <%= link_to 'Inicio', inicio_path %> |
        <%= link_to 'Alunos', alunos_path %> |
        <%= link_to 'Mensalidades', mensalidades_path %> |
        <%= link_to 'Alimentacao Valores', alimentacao_valores_path %> |
        <%= link_to 'Adicional / Desconto', adicional_descontos_path %> |
        <%= link_to 'Lançamentos', lancamentos_path %> |
        <%= link_to 'Extrato', extrato_path %>
      </div>
    </div>

    <div id="content">
      <div id="main_content">
        <p style="color: green"><%= flash[:notice] %></p>
        <%= yield  %>
      </div>
    </div>

    <div class="clear"></div>

</body>
</html>
